#.gitignore
backend/.env
.env
notebooks/
backend/data_shared/
infraestructure/data_shared/
infraestructure/.env
#---AIRFLOW---#
infraestructure/airflow/logs
infraestructureairflow/__pycache__
#---SCRAPPER---#
backend/scraper/usuarios.py
backend/scraper/eroski_scrapper.py
backend/scraper/post_script.py
backend/scraper/requirements.txt
#---SPARK---#
backend/spark/carga_posts.py
backend/spark/clean_file.py
backend/spark/carga_tablas.py
backend/spark/clean_test.ipynb
backend/spark/clean_mercados_to_gold.py
backend/tmp
backend/spark/spark-warehouse
backend/spark/metastore_db
backend/spark/derby.log
#---JENKINS---#
infraestructure/jenkins/default-user.groovy
infraestructure/jenkins/plugins.txt
#---NGINX---#
infraestructure/auth
#---MNIO---#
infraestructure/datalake_minio
#---TELEGRAM---#
backend/telegram/watcher_improved.py
backend/telegram/test.py
backend/telegram/status.json
#---COLD STORAGE---#
cold_storage/config/rclone/rclone.conf
#---UPDATER---#
backend/scripts/main.py