version: '3.8'

services:
  # --- DB (MySQL) ---
  mysql_db:
    build: ./mysql_init
    container_name: mysql_db
    networks:
      - data_network
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      #MYSQL_USER: ${MYSQL_USER}
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./data_shared:/app/data/shared  
      - ./mysql_init/init.sql:/docker-entrypoint-initdb.d/init.sql
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # --- SCRAPPER ---
  scraper:
    build: ./scraper       
    container_name: scrapper
    networks:
      - data_network
    volumes:
      - ./scraper:/app      
      - ./data_shared:/app/data/scrapper_vol
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - mysql_db

  # --- ETL (Spark) ---
  pyspark:
    build: ./spark 
    container_name: spark
    networks:
      - data_network
    ports:
      - "8888:8888"
      - "4040:4040"   
    volumes:
      - ./data_shared:/app/data/scrapper_vol
      - ./spark:/app/scripts
      - ./notebooks:/home/jovyan/work
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - DB_HOST=metadata_db
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - DB_USER=${MYSQL_USER}
    user: root
    restart: on-failure



  

# --- Monitoring ---
  telegram_bot:
      build: ./telegram
      container_name: telegram_monitor
      restart: always
      networks:
        - data_network
      environment:
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
        - TELEGRAM_CHAT_ID=${CHAT_ID}
      volumes:
        - ./data_shared:/backend/data_shared
        - ../infraestructure/data_shared/logs:/infraestructure/data_shared/logs
        - ./telegram/status.json:/app/status.json
        - ./telegram/scripts/watcher.py:/app/watcher.py
        - ./telegram/scripts/watcher.py:/app/watcher_improved.py
    

volumes:
  mysql_data:
  jenkins_home:

networks:
  data_network:
    driver: bridge