services:
  # --- CI/CD ---
  jenkins:
    build: ./jenkins
    container_name: cicd_jenkins
    user: root
    environment:
      - JENKINS_OPTS="--logfile=/var/jenkins_home/jenkins.log"
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ../backend/data_shared:/data_shared
      - ./jenkins/scripts/01-security-audit.groovy:/var/jenkins_home/init.groovy.d/01-security-audit.groovy
      - ../backend/.env:/var/jenkins_home/secrets/.env:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    #command: chmod 666 /var/run
volumes:
  jenkins_home: