services:
  # --- CI/CD ---
  jenkins:
    build: ./jenkins
    container_name: cicd_jenkins
    #user: root
    environment:
      - JENKINS_OPTS="--logfile=/var/jenkins_home/jenkins.log"
    #ports:
    #  - "8081:8080"
    #  - "50000:50000"
    expose:
    - "8080"
    volumes:
      #- jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ../backend/data_shared:/data_shared
      - ./jenkins/scripts/01-security-audit.groovy:/var/jenkins_home/init.groovy.d/01-security-audit.groovy
      - ../backend/.env:/var/jenkins_home/secrets/.env:ro
      - ./jenkins/config:/var/jenkins_home
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      jenkins-permissions:
        condition: service_completed_successfully
    networks:
      - link_network
    #command: chmod 666 /var/run

#Jenkins permissions
  jenkins-permissions:
      image: alpine:latest
      container_name: jenkins_fix
      volumes:
        - ./jenkins/config:/var/jenkins_home
        - /var/run/docker.sock:/var/run/docker.sock
        - ../backend/data_shared:/data_shared
      command: sh -c "chown -R 1000:1000 /var/jenkins_home /data_shared && chmod 666 /var/run/docker.sock"

  # --- WATCHER ---
  nginx:
    build: ./nginx
    container_name: gateway_nginx
    user: root
    ports:
      - "90:80" 
    volumes:
      #- ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./data_shared/logs:/var/log/nginx
      - ./nginx/templates:/etc/nginx/templates
      #- ./nginx/auth:/etc/nginx/auth
    depends_on:
      - jenkins
      - airflow
    environment:
      - NGINX_USER=${NGINX_USER}
      - NGINX_PASSWORD=${NGINX_PASSWORD}
      - JENKINS_DOMAIN=${JENKINS_DOMAIN}
      - AIRFLOW_DOMAIN=${AIRFLOW_DOMAIN}
    networks:
      #- backend_data_network
      - link_network


  # --- Orchestration (Airflow) ---
  airflow:
    container_name: airflow
    build: 
      context: .
      dockerfile: airflow/Dockerfile
    restart: always
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=airflow
      - _AIRFLOW_WWW_USER_PASSWORD=airflow
      - AIRFLOW__CORE__PARALLELISM=4 
      - AIRFLOW__CORE__DAG_CONCURRENCY=4 
      - AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL=30 
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      jenkins-permissions:
        condition: service_completed_successfully
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    #ports:
    #  - "8080:8080"
    expose:
    - "8080"
    networks:
      - link_network
    command: >
      bash -c "airflow db migrate && airflow users create --username ${AIRFLOW_USER} --password ${AIRFLOW_PASSWORD} --firstname Admin --lastname User --role Admin --email admin@example.com || true  && (airflow scheduler &) && airflow webserver"


volumes:
  jenkins_home:

networks:
  link_network:
   driver: bridge
   name: link_network
